.video_detail {
    width: 360px;
    height: calc(100vh - 82px);
    top: 82px;
    position: fixed;
    right: 0;
    z-index: 10;
    background-color: var(--dark);
    border: 2px solid var(--light-blue);
    box-sizing: border-box;
    box-shadow: 2px 4px 10px var(--light-blue);
    display: flex;
    flex-direction: column;
    padding: 48px 24px;
    color: var(--white);
    justify-content: center;
    align-items: center;
}
.detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10%;
    width: 100%;
}
.detail svg {
    width: 32px;
    height: 32px;
}
.detail svg:hover {
    cursor: pointer;
}
.video_image {
    width: 100%;
    height: 25%;
    margin: 0;
    padding-top: 24px;
}
.video_image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.video_description {
    margin-top: 24px;
    height: 60%;
    padding-top: 24px;
}
.watch_video {
    width: 250px;
    background-color: var(--light-blue);
    border-radius: 10px;
    padding: 8px 16px;
    color: var(--white);
    font-weight: 600;
    font-size: medium;
}
.watch_video:hover {
    cursor: pointer;
}