.team {
    display: flex;
    flex-direction: column;
    padding: 24px 48px;
    justify-content: center;
    align-items: center;
}

.team h2 {
    color: var(--white);
    background-color: var(--light-blue);
    width: 250px;
    text-align: center;
    border-radius: 10px;
    padding: 8px 16px;
    margin-bottom: 24px;
}
.cards_container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
}