.newVideo_container {
    width: 100%;
    height: 81vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--white);
    padding: 24px 60px;
    box-sizing: border-box;
}
.newForm_container {
    width: 600px;
    height: 70%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.newForm_container h2 {
    border-bottom: 2px solid #4a4a4a;
    padding-bottom: 12px;
    font-weight: 700;
}
.newVideo_form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.grouped_inputs_container {
    display: flex;
    gap: 16px;
    align-items: center;
}
.grouped_inputs {
    display: flex;
    flex-direction: column;
}
.grouped_inputs input {
    background-color: transparent;
    border: 1px solid var(--white);
    border-radius: 10px;
    padding: 12px 16px;
    color: var(--white);
    width: 250px;
}
.grouped_inputs select {
    background-color: transparent;
    border: 1px solid var(--white);
    border-radius: 10px;
    padding: 12px 16px;
    color: var(--white);
    width: 285px;
}
.grouped_inputs textarea {
    background-color: transparent;
    border: 1px solid var(--white);
    border-radius: 10px;
    padding: 12px 16px;
    color: var(--white);
    width: 250px;
    resize: none;
    height: 100px;
}
.newVideo_buttons_container {
    display: flex;
    gap: 24px;
}

@media (width < 630px) {
    .newVideo_container {
        height: auto;
    }
    .newForm_container {
        width: 100%;
    }
    .grouped_inputs_container {
        flex-direction: column;
    }
}