.header_container {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: 48px;
    padding:40px 48px;
    border-bottom: 2px solid var(--blue);
    justify-content: space-between;
    align-items: center;
}
.header_container a {
    text-decoration: none;
}
.header_container p {
    color: var(--blue);
    font-weight: 900;
    font-size: 28px;
}

.buttons_menu_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    list-style: none;
    text-decoration: none;
}
.li {
    padding: 8px 16px;
    width: "120px";
}
.tabBar {
    display: none;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    height: 76px;
    background-color: var(--dark);
    color: var(--light-blue);
    box-sizing: border-box;
    border-top: 2px solid var(--light-blue);
}
.tabBar svg {
    color: var(--light-blue);
    width: 40px;
    height: 40px;
}
.new_video_icon {
    display: flex;
    color: var(--light-blue);
    justify-content: center;
    align-items: center;
    gap: 16px;
}

@media (width < 630px) {
    .header_container {
        display: none;
    }
    .tabBar {
        display: flex;
    }
}