.footer {
    width: 100%;
    display: flex;
    color: var(--white);
    justify-content: space-between;
    background-color: var(--blue);
    align-items: center;
    padding: 0 48px 0 48px;
    box-sizing: border-box;
    margin-top: 20px;
}
.social_media {
    display: flex;
    gap: 16px;
}
.social_media svg {
    width: 32px;
    height: 32px;
    color: var(--white);
}
.footer_title {
    font-size: x-large;
    font-weight: bold;
}
.author p {
    margin: 0;
}
.author a {
    text-decoration: none;
    color: var(--white);
}

@media (width < 630px) {
    .footer {
        margin-bottom: 78px;
        padding: 0 16px 0 16px;
    }
}