.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
}
.modal {
    position: absolute;
    top: 40px;
    width: 700px;
    height: 800px;
    border: 2px solid var(--light-blue);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    background-color: var(--dark-blue);
}
.modal h3 {
    color: var(--blue);
    font-size: xx-large;
    font-weight: 900;
}
.modal svg {
    position: absolute;
    color: var(--white);
    top: -20px;
    right: -20px;
    width: 48px;
    height: 48px;
}
.modal svg:hover {
    cursor: pointer;
    color: var(--blue);
}
.form_container {
    width: 450px;
    padding: 24px 48px;
}
.edit_card_form {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 10px;
}
.input_container {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 400px;
}
.input_container label {
    color: var(--white);
}
.input_container input {
    background-color: transparent;
    border: 1px solid var(--blue);
    border-radius: 10px;
    padding: 12px 16px;
    color: var(--white);
}
.input_container select {
    background-color: transparent;
    border: 1px solid var(--blue);
    border-radius: 10px;
    padding: 12px 16px;
    color: var(--white);
}
.option {
    background-color: var(--dark-blue);
    padding: 12px 16px;
    color: var(--white);
}
.input_container input::placeholder {
    color: #cbcbcb;
}
.input_container textarea {
    background-color: transparent;
    border: 1px solid var(--blue);
    border-radius: 10px;
    padding: 12px 16px;
    color: var(--white);
    resize: none;
}
.input_container textarea::placeholder {
    color: #cbcbcb;
}
.buttons_form_container {
    display: flex;
    gap: 32px;
    margin-top: 24px;
    align-items: center;
    justify-content: space-between;
}
.form_button {
    width: 150px;
    background-color: transparent;
    border: 2px solid var(--white);
    border-radius: 10px;
    padding: 12px 16px;
    color: var(--white);
    font-weight: 800;
}
.form_button:hover {
    cursor: pointer;
    border-color: var(--light-blue);
    color: var(--light-blue)
}
@media (width < 630px) {
    .modal {
        width: 95%;
    }
}